body {
  margin: 0;
  padding: 0;
  min-width: 710px;
  font-family: 'Gloria Hallelujah', cursive;
}

.opacity {
  opacity: 1 !important;
}

#video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url('video/bart_in_the_car.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/*----------HEADER-------*/

header {
  width: 100%;
  height: 100px;
  /*.background: linear-gradient(to right, rgba(208, 23, 70, 0.7), rgba(138, 24, 67, 0.7));*/
  background: transparent;
}

.head-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #000 dotted;
}

.logo {
  min-width: 300px;
}

.logo img {
  margin: -4px 0 0 85px;
  min-width: 25%;
  height: 95px;
  opacity: 0.7;
  transition: 1s opacity 0.01s;
}


header:hover .logo img,
header:hover .phone,
.player-slider:hover,
section:hover {
  opacity: 1;
}


/*---------PLATER SLIDER STYLES-----*/

.player-slider {
  margin-top: 15px !important;
  min-width: 100px;
  height: 20px;
  background: rgba(203,76,86, 0.3);
  border: 1px #000 solid;
  border-radius: 50%;
  opacity: 0.7;
  transition: 0.5s opacity ease-in-out;
}

input[type=range] {
  -webkit-appearance: none;
  /*background:transparent;*/
  width: 50%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 1px;
  cursor: pointer;
  background: transparent;

  /*border: 1px transparent solid;*/
}

input[type=range]::-webkit-slider-thumb {
  height: 50px;
  width: 50px;
  border: 5px rgba(0,0,0, 0.8) solid;
  border-radius: 50px;
  background: linear-gradient(to right, rgba(208, 23, 70, 0.7), rgba(138, 24, 67, 0.7));
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -25px;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
}

input[type=range]::-moz-range-track {
  width: 50%;
  height: 1px;
  cursor: pointer;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: linear-gradient(to right, rgba(208, 23, 70, 0.7), rgba(138, 24, 67, 0.7));
  cursor: pointer;
}
/*-------------------*/

.contacts {
  min-width: 300px;
  padding-top: 5px;
}

.phone {
  margin: 0 auto;
  line-height: 20px;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.7;
  transition: 1s opacity ease-in-out;
}

/*-----------MAIN MENU-----------*/

.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu-item {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  transition: 0.2s opacity ease-in-out;
}

.main-menu a {
  flex: 1;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

/*------SECTION AND TEXT-------*/

section {
  width: 60%;
  height: 50vh;
  margin: 100px auto;
  position: relative;
  opacity: 0.05;
  transition: 1.5s opacity ease-in-out;
}

.text {
  width: 49%;
  color: #fff;
  font-size: 0.8em;
  z-index: 2;
}

.text-img {
  z-index: 1;
  width: 50%;
  height: 286px;
  position: absolute;
  top: -84px;
  left: 23%;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
}

.text:before {
  content: "";
  width: 50%;
  height: 190px;
}

.text-left:before {
  float: right;
}

.text-right:before {
  float: left;
}


/*---------MEDIA QUERIES--------*/

@media screen and (max-width: 1100px) {
  .text-img {
    width: 57%;
    left: 20%;
  }
}

@media screen and (max-width: 900px) {
  .text-img {
    width: 54%;
    left: 21%;
    height: 236px;
    top: -24px;
  }

  .player-slider { left: 35%; }
  input[type=range] { width: 25%; }
  input[type=range]::-webkit-slider-runnable-track { width: 25%; }
  input[type=range]::-moz-range-track { width: 25%; }
}


@media screen and (max-width: 700px) {
  .main-menu { flex-direction: column; }
  header { height: 205px; }
}

@media screen and (max-width: 600px) {
  .player-slider { left: 46%; }
  input[type=range] { width: 25%; }
  input[type=range]::-webkit-slider-runnable-track { width: 25%; }
  input[type=range]::-moz-range-track { width: 25%; }
  
  header { height: 205px; }
}

